<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context-3.0.xsd">

    <context:property-placeholder location="application.properties"/>

    <bean id="studentbean" class="com.example.demo.Student">
        <property name="name" value="Jack"></property>
        <property name="address" ref="addressbean"/>
    </bean>

    <bean id="addressbean" class="com.example.demo.Address">
        <property name="city" value="Delhi"/>
        <property name="zipcode" value="123456"/>
    </bean>

    <bean name="myFortune" class="com.example.demo.HappyFortuneService">
    </bean>

    <bean id="coach" class="com.example.demo.CricketCoach">
        <!--Constructor dependency-->
        <constructor-arg ref="myFortune"/>
    </bean>
    
    <bean id="baseballCoach" class="com.example.demo.BaseballCoach">
        <!--Setter dependency-->
        <property name="fortuneService" ref="myFortune"/>
        <!--Injecting value dependency-->
        <!--<property name="email" value="baseballcoach@workout.com"/>
        <property name="team" value="Yankees"/>-->

        <!--Injecting value dependency from properties file-->
        <property name="email" value="${foo.email}"/>
        <property name="team" value="${foo.team}"/>
    </bean>

</beans>